<html>

<head>
    <title>Data Tables</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src = "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src = "../static/data_table.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
</head>
<body>
    <table id = "myTable">
        <thead>
            <th>Submit</th>
            <th>Name</th>
            <th>Family_Name</th>
            <th>Age</th>
        </thead>
        <tbody> See the content below

        </tbody>
    </table>
</body>

</html>



